{% extends "base.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}

{% load static %}

    <div class="container">
            <br />
            <h3>Locations</h3>
    
            <div class="row">
                <div id="map-wrapper" class="col-sm">
                    <img id="imgMap" src="{% static "schedule/UK.png" %}"></image>
                </div>

                <div id="map-wrapper" class="col-sm">
                    <form  style="width:400px">
                        <div class="form-group w-75">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" value="Leicester" />
                        </div>
            
                        <div class="form-group w-50">
                            <label for="inputLat">Lat</label>
                            <input type="text" class="form-control" id="inputLat" value="20.12" />
                            <small id="nameHelp" class="form-text text-muted">-9 to 2 (WGS84)</small>                
                        </div>
            
                        <div class="form-group w-50">
                            <label for="inputLat">Long</label>
                            <input type="text" class="form-control" id="inputLong" value="-5.01" />
                            <small id="nameHelp" class="form-text text-muted">49 to 61 (WGS84)</small>
                        </div>
            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
            
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Lat</th>
                                <th scope="col">Long</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>London</td>
                                <td>10</td>
                                <td>12</td>
                              </tr>
                              <tr>
                                <td>York</td>
                                <td>9</td>
                                <td>3</td>
                              </tr>
                              <tr>
                                <td>Southampton</td>
                                <td>-10</td>
                                <td>5</td>
                              </tr>
                            </tbody>
                        </table>
                    </form>        
                </div>
            </div>    
        </div>
    
        <script>
            document.getElementById('imgMap').addEventListener('click', (evt) => {
                var txtCoordinates = document.getElementById('txtCoords');
                x = evt.offsetX;
                y = evt.offsetY;
                point = document.createElement('div');
                point.className = "map-point";
                
                point.style.left = x;
                point.style.top = y;
    
                document.getElementById('map-wrapper').appendChild(point);
    
                txtCoordinates.value = `X = ${x}, Y = ${y}`;
            })
        </script>
</div>
{% endblock %}