{% extends "base.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}

{% load static %}

    <div class="container">
            <br />
            <h3>Locations</h3>
    
            <div class="row">
                <div id="map-wrapper" class="col-sm">
                    <img id="imgMap" src="{% static "schedule/UK.png" %}"></image>
                </div>
                
                <div id="map-wrapper" class="col-sm">
                    {% if viewtype == "detail" %}
                    <form style="width:300px" action="/schedule/location/update" method="post">
                        {% csrf_token %}
                        
                        <input type="hidden" name="id" value="{{location.Id}}" />
                        <input type="hidden" name="schedule_id" value="{{location.ScheduleId}}" />
                        
                        <div class="form-group w-75">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" value="{{location.Name}}" />
                        </div>
            
                        <div class="form-group w-50">
                            <label for="inputLat">Lat</label>
                            <input type="text" class="form-control" id="inputLat" name="lat" value="{{location.Lat}}" />
                            <small id="nameHelp" class="form-text text-muted">-9 to 2 (WGS84)</small>                
                        </div>
            
                        <div class="form-group w-50">
                            <label for="inputLat">Long</label>
                            <input type="text" class="form-control" id="inputLong" name="long" value="{{location.Long}}" />
                            <small id="nameHelp" class="form-text text-muted">49 to 61 (WGS84)</small>
                        </div>
            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a class="btn btn-secondary" href="/schedule/location/{{location.ScheduleId}}/index">Cancel</a>              
                        </div>
                    </form>
                    {% endif %}

                    {% if viewtype == "index" %}
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Lat</th>
                            <th scope="col">Long</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in locations %}
                                <tr>
                                    <td>
                                        {{ location.Name }}
                                    </td>
                                    <td>
                                        {{ location.Lat }}
                                    </td>
                                    <td>
                                        {{ location.Long }}
                                    </td>
                                    <td>
                                        <a href="/schedule/location/{{location.Id}}/detail">Edit...</a>
                                    </td>            
                                </tr>
                            {% endfor %}                                                                
                        </tbody>
                    </table>

                    <a href="/schedule/location/0/update">Add a new location...</a>

                    {% endif %}
                </div>
            </div>    
        </div>
    
        <script>
            document.getElementById('imgMap').addEventListener('click', (evt) => {
                var txtCoordinates = document.getElementById('txtCoords');
                x = evt.offsetX;
                y = evt.offsetY;
                point = document.createElement('div');
                point.className = "map-point";
                
                point.style.left = x;
                point.style.top = y;
    
                document.getElementById('map-wrapper').appendChild(point);
    
                txtCoordinates.value = `X = ${x}, Y = ${y}`;
            })
        </script>
</div>
{% endblock %}