<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'schedule/style.css' %}" />    
    <title>{% block title %}Weather Aware Construction Schedules{% endblock %}</title>
</head>

<body>
    <div>
        <!-- {% block navbar %} -->
        <!-- {% endblock %} -->
        <nav class="navbar navbar-expand-sm nav-tabs navbar-dark bg-dark">

            <!-- <a title="Weather aware construction schedules" class="navbar-brand" href="#">
                <img id="imgMap" src="{% static "schedule/Weather-Clouds-36-36.PNG" %}" style="width:32px;height:32px"></image>
            </a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>            
                    <li class="nav-item active">
                        <a class="nav-link" target="_blank" href="{% static 'schedule/UserGuide.pdf' %}">Help<span class="sr-only">(current)</span></a>
                    </li>                  
                </ul>                
            </div>

        </nav>
    </div>

    <div id="content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}
                {% endblock %}
            </ol>          
        </nav>
        
        {% block content %}{% endblock %}
    </div>

    <!-- For Bootstrap, jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.0/parsley.min.js"></script>

    <script src="{% static 'schedule/util.js' %}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>