{% extends "base.html" %}

{% block title %}Activity Delete{% endblock %}

{% block content %}

<br />
<div class="container">
    <h3>
        Delete Activity
    </h3>

    <br /   >
    <div class="alert alert-danger">
        <p>         
            Are you sure you wish to delete this activity?
            {% if dependencyCount > 0 %}
            This activity has {{dependencyCount}} dependencies, deleting it will remove these also. 
            {% endif %}
            Press delete if you want to continue.
        </p>
    </div>

    <form action="/schedule/activity/{{activityId}}/delete" method="post" data-parsley-validate="">
        {% csrf_token %}
        <input type="hidden" name="schedule_id" value="{{scheduleId}}" />
        <button type="submit" class="btn btn-primary">Delete</button>
    
        <a class="btn btn-secondary" href="/schedule/activity/{{scheduleId}}">Cancel</a>
    </form> 
</div>

{% endblock %}