{% extends "base.html" %}

{% block title %}Activities{% endblock %}

{% block content %}

<br />
<div class="container">
<h3>Activity List</h3>

<div class="row">
    <div class="col-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>                
                    <th scope="col">Location</th>                
                    <th scope="col">ActivityType</th>                
                </tr>
            </thead>
            {% for activity in activities %}
            <tr>
                <td>
                    {{ activity.Name }}
                </td>
                <td>
                    {{ activity.Duration }}
                </td>
                <td>
                    {{ activity.LocationName }}
                </td>
                <td>
                    {{ activity.ActivityTypeName }}
                </td>
                <td>
                    <a href="/schedule/activity/{{activity.Id}}/detail?schedule_id={{scheduleId}}">Edit...</a>
                </td>            
                <td>
                    <a href="/schedule/activity/{{activity.Id}}/deleteindex">Delete...</a>
                </td>            
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="col-sm">

    </div>
</div>

<div class="form-group">            
    <a class="btn btn-secondary" href="/schedule/activity/0/detail?schedule_id={{scheduleId}}">Add a new activity...</a>
</div>

<div class="form-group">            
    <a class="btn btn-secondary" href="/schedule/{{scheduleId}}">Back to schedule...</a>
</div>              

{% endblock %}