{% extends "base.html" %}

{% block title %}Activities{% endblock %}

{% block content %}

<br />
<div class="container">
<h3>Activity List</h3>
<form>
<div class="form-group">            
    <a class="btn btn-secondary" data-toggle="tooltip" title="Create an activity and manage its dependencies" href="/schedule/activity/0/detail?schedule_id={{scheduleId}}">Add a new activity...</a>
    <a class="btn btn-secondary" href="/schedule/{{scheduleId}}">Back to schedule...</a>
</div>
</form>

<div class="row">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>                
                    <th scope="col">Location</th>                
                    <th scope="col">Activity Type</th>                
                </tr>
            </thead>
            {% for activity in activities %}
            <tr>
                <td>
                    {{ activity.Name }}
                </td>
                <td>
                    {{ activity.Duration }}
                </td>
                <td>
                    {{ activity.LocationName }}
                </td>
                <td>
                    {{ activity.ActivityTypeName }}
                </td>
                <td>
                    <a data-toggle="tooltip" title="Manage this activity and its dependencies" href="/schedule/activity/{{activity.Id}}/detail?schedule_id={{scheduleId}}">Edit...</a>
                </td>            
                <td>
                    {% if demoMode == False %}
                    <a href="/schedule/activity/{{activity.Id}}/deleteindex?schedule_id={{scheduleId}}">Delete...</a>
                    {% endif %}
                </td>            
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div class="col-sm">

    </div>
</div>

<div class="form-group">            
</div>              

{% endblock %}