{% extends "base.html" %}

{% block title %}Dependency Edit{% endblock %}

{% block content %}

<div class="container">
    <form action="/schedule/dependency/{{dependency.Id}}/update" method="post" data-parsley-validate="">
        {% csrf_token %}
        <h3>Dependency</h3>

        <input type="hidden" name="id" value="{{dependency.Id}}" />
                
        <div class="form-group w-50">
            <div class="dropdown">
                <label for="pred-activity">Predecessor</label>
                <select class="form-control form-control-sm" name="pred-activity" required>
                    {% for predActivity in predActivities %}
                    <option value="{{predActivity.Id}}" {% if dependency.PredActivityId == predActivity.Id %}selected{% endif %}>{{predActivity.Name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="dropdown">
                <label for="pred-activity">Dependency Type</label>                
                <select class="form-control form-control-sm" name="pred-activity" required>
                    {% for dependencyType in dependencyTypes %}
                    <option value="{{dependencyType.Id}}" {% if dependency.DependencyTypeId == dependencyType.Id %}selected{% endif %}>{{dependencyType.Name}}</option>
                    {% endfor %}
                </select>                
            </div>
        </div>

        <div class="form-group w-25">
            <label for="inputStartDate">Dependency Duration</label>
            <input type="text" class="form-control" id="inputStartDate" value="{{dependency.DependencyLength}}" />
            <small id="nameHelp" class="form-text text-muted">Working Days</small>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="/schedule/dependency/{{activityId}}?schedule_id={{scheduleId}}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}