{% extends "base.html" %}

{% block title %}Dependencies{% endblock %}

{% block content %}

<div class="container">
    <br />
    <h3>Schedule List</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Predessesor</th>
                <th scope="col">Dependency Type</th>                
                <th scope="col">Time Lag</th>                
            </tr>
        </thead>
    {% for dependency in dependencies %}
    <tr>
        <td>
            {{ dependency.PredessesorName }}
        </td>
        <td>
            {{ dependency.DependencyName }}
        </td>
        <td>
            {{ dependency.DependencyLength }}
        </td>
        <td>
            <a href="/schedule/dependency/{{dependency.Id}}/detail?schedule_id={{scheduleId}}">Edit...</a>
        </td>            
    </tr>
    {% endfor %}
</table>

<div class="form-group">            
<a href="/schedule/dependency/0">Add a new dependency...</a>
</div>

</div>
{% endblock %}