{% extends "base.html" %}

{% block title %}Schedule Edit{% endblock %}

{% block content %}

<div class="container">
    <form action="/schedule/{{schedule.Id}}/update" method="post" data-parsley-validate="">
        {% csrf_token %}
        <h3>Schedule</h3>

        <input type="hidden" name="id" value="{{schedule.Id}}" />
                
        <div class="form-group w-50">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="name" id="inputName" value="{{schedule.Name}}" required="" />
        </div>

        <div class="form-group w-25">
            <label for="inputStartDate">Start Date</label>
            <input type="text" class="form-control" id="inputStartDate" name="startdate" value="{{schedule.StartDateDisplay}}" data-parsley-datecheck required="" />
        </div>

        <div class="form-group">
            <div class="form-group">
                <label class="form-check-label" for="check0">
                    Working Days
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday0" value="" {% if schedule.WorkingDay0 %} checked="checked" {% endif %} data-parsley-mincheck="1">
                <label class="form-check-label" for="check0">
                    Monday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday1" value="" {% if schedule.WorkingDay1 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Tuesday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday2" value="" {% if schedule.WorkingDay2 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Wednesday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday3" value="" {% if schedule.WorkingDay3 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Thursday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday4" value="" {% if schedule.WorkingDay4 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Friday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday5" value="" {% if schedule.WorkingDay5 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Saturday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday6" value="" {% if schedule.WorkingDay6 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Sunday
                </label>
            </div>
        </div>

        {% if scheduleId != 0 %}
        <div class="form-group">
            <a class="btn btn-secondary" href="/schedule/location/{{schedule.Id}}/index">Location...</a>
            <a class="btn btn-secondary" href="/schedule/activity/{{schedule.Id}}">Activities...</a>
        </div>
        {% endif %}
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="{% url 'schedule:index' %}">Cancel</a>
        </div>
        
        <div class="form-group">
            <div id="divider"></div>
            <h6>Reporting</h6>
            <a class="btn btn-secondary" href="/schedule/report/{{schedule.Id}}">Gantt...</a>
        </div>  
        
        <div class="form-group">
            <a class="btn btn-secondary" href="/">Day of Year...</a>
        </div>
    </form>
</div>

{% endblock %}