{% extends "base.html" %}

{% block title %}Schedule Edit{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Schedule List</a></li>
<li class="breadcrumb-item active" aria-current="page">Schedule</li>
{% endblock %}

{% block content %}

<div class="container">
    <form action="/schedule/{{schedule.Id}}/update" method="post" data-parsley-validate="">
        {% csrf_token %}

        <input type="hidden" name="id" value="{{schedule.Id}}" />
                
        <div class="form-group w-50">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="name" id="inputName" value="{{schedule.Name}}" required="" />
        </div>

        <div class="form-group w-25">
            <label for="inputStartDate">Project Start Date</label>
            <input type="text" class="form-control" id="inputStartDate" name="startdate" value="{{schedule.StartDateDisplay}}" data-parsley-datecheck required="" />
        </div>

        <div class="form-group w-50">
            <label for="activity-type">Project Status</label>
            <select class="form-control form-control-sm" name="statustype" id="selectStatus">
                {% for status in statusTypes %}
                <option value="{{status.Id}}" {% if schedule.StatusTypeId == status.Id %}selected{% endif %}>{{status.Name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group w-25">
            <label for="inputStatusDate">Project Status Date</label>
            <input type="text" class="form-control" id="inputStatusDate" name="statusdate" value="{{schedule.StatusDateDisplay}}" data-parsley-datecheck />
        </div>

        <div class="form-group">
            <div class="form-group">
                <label class="form-check-label" for="check0">
                    Working Days
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday0" value="" {% if schedule.WorkingDay0 %} checked="checked" {% endif %} data-parsley-mincheck="1">
                <label class="form-check-label" for="check0">
                    Monday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday1" value="" {% if schedule.WorkingDay1 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Tuesday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday2" value="" {% if schedule.WorkingDay2 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Wednesday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday3" value="" {% if schedule.WorkingDay3 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Thursday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday4" value="" {% if schedule.WorkingDay4 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Friday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday5" value="" {% if schedule.WorkingDay5 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Saturday
                </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="workingday6" value="" {% if schedule.WorkingDay6 %} checked="checked" {% endif %}>
                <label class="form-check-label" for="check0">
                    Sunday
                </label>
            </div>
        </div>

        {% if scheduleId != 0 %}
        <div class="form-group">
            <a class="btn btn-secondary" data-toggle="tooltip" title="Manage the locations where construction will be carried out" href="/schedule/location/{{schedule.Id}}/index">Edit project locations</a>
            <a class="btn btn-secondary" data-toggle="tooltip" title="Manage this schedule's activities and dependencies" href="/schedule/activity/{{schedule.Id}}">Edit project activities</a>
        </div>
        {% endif %}
        
        <div class="form-group">
            {% if demoMode == False %}
            <button type="submit" class="btn btn-primary">Save</button>
            {% endif %}
            <a data-toggle="tooltip" title="Discard any changes and return to the schedule list" class="btn btn-secondary" href="{% url 'schedule:index' %}">Cancel</a>
        </div>
        
        <div class="form-group">
            <div id="divider">
            </div>

        {% if scheduleId != 0 %}
        <h5>Schedule Reports</h5>
        {% if schedule.StatusTypeId != 3 %}
        <h6>Forwards (for weather-aware project planning)</h6>
        <div class="form-group">
            <a class="btn btn-secondary" data-toggle="tooltip" title="Show the planned and weather affected schedule" href="/schedule/report/{{schedule.Id}}?reporttype=2">Gantt Chart</a>
            <a class="btn btn-secondary" href="/schedule/reportstochastic/{{schedule.Id}}">Stochastic Project Duration</a>
            <a class="btn btn-secondary" href="/schedule/reportdays/{{schedule.Id}}">Project Duration by start date</a>
        </div>
        {% endif %}
        
        {% if schedule.StatusTypeId != 1 %}
        <h6>Backwards (for retrospective weather-related as-built projects)</h6>
        <div class="form-group">        
            <a class="btn btn-secondary" data-toggle="tooltip" title="Show the planned and weather affected schedule" href="/schedule/report/{{schedule.Id}}?reporttype=4">Gantt Chart</a>
            <a class="btn btn-secondary" href="/schedule/reportstochastic/{{schedule.Id}}/?type=4">Stochastic Project Duration</a>
        </div>  
        {% endif %}
        
        {% endif %}
        <div class="form-group">
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}
    <script>
        $('#selectStatus').on('change', function() {
            statusChanged(this.value)
        });

        function statusChanged(status) {
            var inputStatusDate = document.getElementById("inputStatusDate");

            if (status == 2)
                    inputStatusDate.removeAttribute("readonly");
            else
                    inputStatusDate.setAttribute("readonly", true);
        }

        $(document).ready(function() {
            var status = $('#selectStatus').val();
            statusChanged(status);
        });
    </script>
{% endblock %}