{% extends "base.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}

<div class="container">
    <br />
    <h3>Schedule List</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>                
            </tr>
        </thead>
    {% for schedule in schedules %}
    <tr>
        <td>
            {{ schedule.Name }}
        </td>
        <td>
            {{ schedule.StartDate }}
        </td>
        <td>
            <a href="/schedule/{{schedule.Id}}">Edit...</a>
        </td>            
        {% if demoMode == False %}
        <td>
            <a href="/schedule/{{schedule.Id}}/deleteindex">Delete...</a>
        </td>            
        {% endif %}
    </tr>
    {% endfor %}
</table>

<a class="btn btn-secondary" href="/schedule/0">Add a new schedule...</a>

</div>
{% endblock %}