{% extends "base.html" %}

{% block title %}Schedules{% endblock %}

{% block content %}

<div class="container">
    <br />
    <h3>Schedule List</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>                
            </tr>
        </thead>
    {% for schedule in schedules %}
    <tr>
        <td>
            {{ schedule.Name }}
        </td>
        <td>
            {{ schedule.StartDate }}
        </td>
        <td>
            <a data-toggle="tooltip" title="View the Gantt Chart" href="/schedule/report/{{schedule.Id}}/?reporttype=2&fromschedules=1">View...</a>
        </td>            
        <td>
            <a data-toggle="tooltip" title="Edit the Schedule and view reports" href="/schedule/{{schedule.Id}}">Manage...</a>
        </td>            
        {% if demoMode == False %}
        <td>
            <a href="/schedule/{{schedule.Id}}/deleteindex">Delete...</a>
        </td>            
        {% endif %}
    </tr>
    {% endfor %}
</table>

<a class="btn btn-secondary" href="/schedule/0">Add a new schedule...</a>

<div style="margin-top:100px">
<div id="divider"></div>
    <p>
    This is a website application for considering the influence of weather in UK construction projects. This project was funded by the Natural Environment Research Council (NERC) under the Environmental Risks to Infrastructure Innovation Programme (ERIIP) with Grant number NE/R008876/1 at the University of Reading. Weather data were supplied by the UK Met Office (MIDAS data set).
    </p>

    <p>
    Principal Investigator Dr Stefán Thor Smith, Co-Investigator Dr Pablo Ballesteros-Pérez, Research Assistant/Computer Programmer Peter C.
    </p>
</div>

</div>
{% endblock %}